<h1 class="display-6 container my-3">Добавить книгу</h1>
<form class="container my-auto">
  <div class="mb-3">
    <label class="form-label">Название книги</label>
    <input 
    maxlength="20"
      pattern="[а-яА-ЯеЁ]*"
       required #nameBook="ngModel" name="name" [(ngModel)]="create_book.name" type="text" class="form-control"  >
       <div *ngIf="nameBook.invalid && (nameBook.dirty || nameBook.touched)">
        <div
          *ngIf="nameBook.hasError('pattern')"
          class="alert alert-danger mt-2"
          role="alert"
        >
          Поле не должно содержать других букв, кроме русских, цифр, спец. символов
        </div>
        <div
          *ngIf="nameBook.hasError('required')"
          class="alert alert-danger mt-2"
          role="alert"
        >
          Поле должно быть заполнено
        </div>
      </div>
      </div>
  <div class="mb-3">
    <label class="form-label">Автор</label>
    <input
    maxlength="20"
    pattern="[а-яА-ЯеЁ]*"
     required #authorBook="ngModel" name="author" [(ngModel)]="create_book.author" type="text" class="form-control" class="form-control" />
     <div *ngIf="authorBook.invalid && (authorBook.dirty || authorBook.touched)">
      <div
        *ngIf="authorBook.hasError('pattern')"
        class="alert alert-danger mt-2"
        role="alert"
      >
        Поле не должно содержать других букв, кроме русских, цифр, спец. символов
      </div>
      <div
        *ngIf="authorBook.hasError('required')"
        class="alert alert-danger mt-2"
        role="alert"
      >
        Поле должно быть заполнено
      </div>
    </div>
    </div> 
  <button [disabled]="nameBook.invalid || authorBook.invalid" (click)="createBook()" type="submit" class="btn btn-primary">Добавить</button>
</form>




<div class="container">
  <h1 class="display-6 container my-5">Список книг</h1>
  <table class="table pt-10" >
    <thead class="table-primary">
      <tr>
        <th scope="col" >Номер</th>
        <th scope="col">Название книги</th>
        <th scope="col">Автор</th>
      </tr>
    </thead>
    <tbody class="table-success">
      <tr *ngFor="let book of books; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
      </tr>
    </tbody>
  </table>
</div>

















<!--<form class="container my-auto">
  <div class="mb-3">
    <label class="form-label">Имя</label>
    <input minlength="2" maxlength="10" pattern="[a-zA-Za-яА-ЯеЁ]*" required #firstName="ngModel" name="name"
      [(ngModel)]="create_person.name" type="text" class="form-control"> 

    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <div *ngIf="firstName.hasError('minlength')" class="alert alert-danger mt-2" role="alert" >
        Минимальная длинна должна быть больше 2 символов
      </div>
      <div *ngIf="firstName.hasError('required')" class="alert alert-danger mt-2" role="alert">
        Поле должно быть заполнено
      </div>
      <div *ngIf="firstName.hasError('pattern')" class="alert alert-danger mt-2" role="alert">
        Поле не должно содержать цифр, спец. символов
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Фамилия</label>
    <input minlength="2" maxlength="10" pattern="[a-zA-Za-яА-ЯеЁ]*" required #secondName="ngModel" name="second_name"
      [(ngModel)]="create_person.second_name" type="text" class="form-control">
    <div *ngIf="secondName.invalid && (secondName.dirty || secondName.touched)">
      <div *ngIf="secondName.hasError('minlength')" class="alert alert-danger mt-2" role="alert">
        Минимальная длинна должна быть больше 2 символов
      </div>
      <div *ngIf="secondName.hasError('required')" class="alert alert-danger mt-2" role="alert">
        Поле должно быть заполнено
      </div>
      <div *ngIf="secondName.hasError('pattern')" class="alert alert-danger mt-2" role="alert">
        Поле не должно содержать цифр, спец. символов
      </div>
    </div>

  </div>
  <button [disabled]="firstName.invalid || secondName.invalid" (click)="createUser()" type="submit"
    class="btn btn-primary">Добавить</button>
</form>


<h1 class="display-6 container m-5">Список людей</h1>
<table class="table table-striped container pt-10">
  <thead>
    <tr>
      <th scope="col">Номер</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ person.name }}</td>
      <td>{{ person.second_name }}</td>
    </tr>
  </tbody>
</table> -->