

<div class="container">
    <div class="column">
        
        <h3>Числа по порядку</h3>
        <hr>
        <button type="button" class="btn btn-success" (click)="enableSequentiallyFunction()">По порядку</button>
        <button type="button" class="btn btn-warning" (click)="disableSequentiallyFunction()">Выключить по порядку</button>
        <hr>
        <li *ngFor="let number of sequentiallyArray ">{{number}}</li>
    </div>


    <div class="column">
        <h3>Числа рандомно</h3>
        <hr>
        <button type="button" class="btn btn-success" (click)="enableRandomFunction()">Рандомно</button>
        <button type="button" class="btn btn-warning" (click)="disableRandomFunction()">Выключить рандомно</button>
        <hr>
        <li *ngFor="let number of randomArray ">{{number}}</li>
    </div>

</div>