<div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-success btn-rounded"  (click)="getPosts()" >GET 1 Posts</button>
    <button type="button" class="btn btn-success btn-rounded" (click)="getComments()">GET 2 Comments</button>
    <button type="button" class="btn btn-success btn-rounded" (click)="createPost()">Post 1</button>
    <button type="button" class="btn btn-success btn-rounded" (click)="getError()">GET 3+error</button>
    <button type="button" class="btn btn-success btn-rounded" (click)="getHeaders()">GET 4+headers</button>
    <button type="button" class="btn btn-success btn-rounded" (click)="deletePosts()">DELETE</button>
    <button type="button" class="btn btn-success btn-rounded" routerLink="resolve">RESOLVE ROUTE</button>
</div>
<router-outlet></router-outlet>